ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.section1 {
  box-sizing: border-box;
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;

  padding-left: 472px;
  padding-right: 472px;
}
.section2 {
  width: 1440px;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-left: 100px;
}
.section3 {
  box-sizing: border-box;
  width: 1440px;
  height: 732px;
  background-color: #f4f4fd;

  padding-left: 100px;
  padding-right: 100px;
}
.value-item {
  width: 264px;
}

.title-section1 {
  padding-top: 188px;
  width: 496px;
  height: 260px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.button1 {
  margin-top: 48px;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 59px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-left: 164px;
  white-space: nowrap;
}
.head-box {
  box-sizing: border-box;
  width: 1440px;
  height: 72px;
  padding-top: 24px;
}

.nav-logo {
  
  padding-top: 24px;
  padding-left: 156px;
  white-space: nowrap;
  text-decoration: none;
   font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  }
  
  .nav-logo::before {
    content: "WEB";
    color: #4d54d6;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: -5px;
  }


.nav-item {
  text-decoration: none;
  display: inline;
  font-style: normal;
  margin-left: 48px;
  margin-bottom: 0;
}
.menu-nav {
  box-sizing: border-box;
  width: 261px;
  height: 24px;
  white-space: nowrap;
  display: inline;
  margin-bottom: 0;
}
.addr {
  box-sizing: border-box;
  width: 200px;
  height: 24px;
  white-space: nowrap;
  display: inline-block;
  margin-top: 0;
}
.address-item {
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 940px;
  margin-top: 0;
}
.phone-item {
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 40px;
  margin-top: 0;
}
.nav-text {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.addr-item {
  white-space: nowrap;
  display: inline;
  margin-bottom: 0;
}
.value {
  display: inline-block;
  width: 264px;
  margin-left: 12px;
  margin-right: 12px;
}
.value-team {
  display: inline-block;
  box-sizing: border-box;
  width: 264px;
  height: 380px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #fff;
}
.value-item {
  width: 264px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.title-section3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
}
.title-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}
.position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
  color: #434455;
  margin-top: 0;
}
